# dependencies
/node_modules

# testing
/coverage
/evals/.cache/
/test-results/
/playwright-report/

# next.js
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo

# written by `next dev` on every run
/AGENTS.md
/CLAUDE.md

# env files
.env*
!.env.example

# misc
.DS_Store
*.pem
.vercel
*.log
